<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>

        ul{
            margin-top: 50px;
            text-align: center;
            margin-bottom: 50px;
        }

        ul li{
            display: inline-block;
            margin: 0 10px
        }

        ul li a{
            text-decoration: none;
            color: black;
            transition: 0.4s ease;
            font-size: 20px;
        }

        ul li a:hover{
            color: darkcyan;
        }

    </style>
</head>
<body>
<div class="nav">
    <ul>
        <li><a href="#">메인화면</a></li>
        <li><a href="#">전체 조회</a></li>
        <li><a href="#">급여별 조회</a></li>
        <li><a href="#">부서별 조회</a></li>
        <li><a href="#">신규 등록</a></li>
        <li><a href="#">정보 수정</a></li>
    </ul>
</div>
</body>
</html>