<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body{
            background-color: lightblue;
        }
        h1{
            text-align: center;
        }
        .btn{
            vertical-align: center;
        }
    </style>
</head>
<body>
    <div th:replace="/common/nav.html"></div>
    <h1>첫페이지입니다</h1>
    <div class="btn">
        <button onclick="location.href='/jungmin'">정민바로가기</button>
        <button onclick="location.href='lee'">leego</button>
    </div>
</body>
</html>