<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script>
        const $success ='[[${successMessage}]]'
        if ($success){
            alert($success)
        }

    </script>
</head>
<body>
    <h1>전체 사원 조회</h1>
    <table border="1">
        <tr>
            <th>사원 번호</th>
            <th>사원 이름</th>
            <th>주민등록번호</th>
            <th>e-mail</th>
            <th>번호</th>
            <th>부서코드</th>
            <th>직업코드</th>
            <th>급여등급</th>
            <th>급여</th>
            <th>보너스</th>
            <th>관리자사번</th>
            <th>입사일</th>
            <th>퇴사일</th>
            <th>퇴직여부</th>
        </tr>
        <tr th:each="employee : ${employeeList}">
            <td th:text="${employee.id}"></td>
            <td th:text="${employee.name}"></td>
            <td th:text="${employee.empNo}"></td>
            <td th:text="${employee.email}"></td>
            <td th:text="${employee.phone}"></td>
            <td th:text="${employee.deptCode}"></td>
            <td th:text="${employee.jobCode}"></td>
            <td th:text="${employee.salLevel}"></td>
            <td th:text="${employee.salary}"></td>
            <td th:text="${employee.bonus}"></td>
            <td th:text="${employee.managerId}"></td>
            <td th:text="${employee.hireDate}"></td>
            <td th:text="${employee.entDate}"></td>
            <td th:text="${employee.entYn}"></td>
        </tr>
    </table>
</body>
</html>