<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>신규 등록</h1>
    <form action="insert" method="post">
        <table>
            <tr>
                <th>이름 :</th>
                <td><input type="text" name="name"></td>
            </tr>
            <tr>
                <th>주민 번호 :</th>
                <td><input type="text" name="empNoFirst" minlength="6" maxlength="6">-<input type="text" name="empNoLast" minlength="7" maxlength="7"> </td>
            </tr>
            <tr>
                <th>e-mail :</th>
                <td><input type="text" name="email"></td>
            </tr>
            <tr>
                <th>phone :</th>
                <td><input type="text" name="phone" minlength="10" maxlength="11"></td>
            </tr>
            <tr>
                <th>부서 :</th>
                <td><select name="deptCode" id="deptCode"></select> </td>
            </tr>
            <tr>
                <th>직급 :</th>
                <td><select name="jobCode" id="jobCode"></select></td>
            </tr>
            <tr>
                <th>급여 범위:</th>
                <td><select name="salLevel" id="salLevel"></select> </td>
            </tr>

        </table>

        <input type="submit" value="등록하기">
    </form>

    <script>
        fetch("departmentCode")
            .then(res=>res.json())
            .then(data=>{
                const $dept = document.getElementById('deptCode')
                for (index in data){
                    const $option = document.createElement('option');
                    $option.value=data[index].id
                    $option.textContent=data[index].title
                    $dept.appendChild($option)
                }

            })
        fetch("jobCode")
            .then(res=>res.json())
            .then(data=>{
                const $dept = document.getElementById('jobCode')
                for (index in data){
                    const $option = document.createElement('option');
                    $option.value=data[index].code
                    $option.textContent=data[index].name
                    $dept.appendChild($option)
                }

            })
        fetch("salLevel")
            .then(res=>res.json())
            .then(data=>{
                const $dept = document.getElementById('salLevel')
                for (index in data){
                    const $option = document.createElement('option');
                    $option.value=data[index].level
                    $option.textContent=`${data[index].minSal} ~ ${data[index].maxSal}`
                    $dept.appendChild($option)
                }

            })
    </script>
</body>
</html>