<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:replace="/common/nav.html"></div>
    <h1>정보 수정하기</h1>
    <form action="checkMember">
        사원번호 입력 : <input type="text" name="id" id="id" placeholder="사원번호 입력" minlength="3" maxlength="3"> <input type="submit" value="회원 확인">
        <div id="hiddenBox" style="color: red">3자리 숫자를 입력하세요</div>
    </form>

    <script>
        const $hiddenBox = document.getElementById("hiddenBox");
        const $id = document.getElementById('id');
        if($id.value.length<3){
            $hiddenBox.style.visibility="none";
        }
        else{
            $hiddenBox.style.visibility = "hidden";
        }

    </script>
    
</body>
</html>